*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;

}

header{
    text-align: right;
    padding: 10px 10px 0px 10px;
}

header button{
    background-color: rgb(56, 56, 56); 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 8px;
}

footer{
    color: white;
    background-color: rgb(48, 48, 48);
}

footer ul li{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px;
}

#zoom-call{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    max-width: 2000px;
}

#flex-container{
    display: flex;
    flex-flow: row wrap;
    max-width: 1800px;
}

.flex-item{
    position: relative;
    flex: 0 0 350px;
    height: 200px;
    margin: 5px 5px;
}

.flex-item p{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
}

.flex-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow{
    color: white;
    font-size: 100px;
    text-align: center;
}

.arrow p{
    font-size: 30px;
}


footer nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

footer .call-actions {
    padding: 5px 0px 0px 10px;

}

footer .main-actions {
    padding: 5px 0px 0px 0px;
}

footer button{
    background-color: grey;
    border: none;
    color: red;
    padding: 15px 10px;
    text-align: center;
}

.lb{
    color: #2ebaff;
}

.green{
    color: limegreen;
}

.flex-item:hover{
    border: 2px solid lightgreen;
}

.talking{
    border: 2px solid lightgreen;
}

.arrow i:hover{
    color: #2ebaff;
}